<%- include('imports/header'); -%>
<main id="dashboard" class="flx">
  <%- include('dashboard/imports/nav'); -%>
  <div class="content" id="dashboard">
    <section id="sec-1">
      <div class="top-nav">
        <a href="/" class="f-size-lrg">IVC-Katale</a>
        <h3 class="f-size-xlrg">
          Hello
          <span class="text-secondary f-size-xlrg"><%= user.lastname %></span>
        </h3>
        <!-- <form action="" id="search-form">
          <i class="lni lni-search"></i>
          <input
            type="text"
            name="search"
            id=""
            placeholder="search for events"
          />
        </form> -->
      </div>
    </section>
    <section id="sec-2">
      <div class="grd grd-cl-4 cards"></div>
    </section>
  </div>
</main>
<%- include('dashboard/imports/footer-nav'); -%>
<script src="/js/dashboard.js"></script>
<%- include('dashboard/imports/footer'); -%>
