<%- include('imports/header'); -%>
<main id="landing-page" class="flx">
  <%- include('imports/nav'); -%>
  <div class="main-content">
    <div class="flx jc-btn">
      <div class="search-form">
        <form action="" class="search-form">
          <div class="input">
            <input type="text" placeholder="search" name="search" />
            <p class="error search-error"></p>
            <i class="fa fa-search"></i>
          </div>
        </form>
      </div>
      <div class="nav-icons flx">
        <% if(user) { %>
        <div class="user-wrapper">
          <h3 class="bold-txt f-size-med">
            Hello,
            <span class="bold-txt f-size-med primary-color"
              ><%= user.lastname %></span
            >
          </h3>
        </div>
        <div class="btn-wrappers flx">
          <% if(user.isAdmin) { %>
          <div class="btn-wrapper">
            <a href="/admin" class="btn">Dashboard</a>
          </div>
          <% } %>
          <div class="btn-wrapper">
            <a href="/auth/logout" class="btn">logout</a>
          </div>
        </div>
        <% } else { %>
        <div class="btn-wrapper">
          <a href="/account" class="btn">sign in</a>
        </div>
        <% } %>
      </div>
    </div>
    <section class="sec-1">
      <h3 class="f-size-xlrg primary-text bold-txt t-up hdr">discover</h3>
      <div class="music-cards-wrapper grd grd-cl-5"></div>
    </section>
  </div>
</main>
<div id="audio-player" class="player-wrapper shrinked flx jc-btn">
  <i class="fa fa-angle-right" id="audio-player-shrink-btn"></i>
  <div class="now-playing-wrapper flx">
    <div class="img-wrapper">
      <img src="/images/black.jpg" id="player-music-album" alt="" srcset="" />
    </div>
    <div class="txt-wrapper">
      <h3 class="secondary-color" id="player-music-artist">_ _ _ _ _</h3>
      <p id="player-music-title">_ _ _ _ _</p>
    </div>
  </div>
  <div class="controls-wrapper">
    <div class="wrapper-1 flx jc-center">
      <!-- <i class="fa fa-repeat"></i> -->
      <i class="fa fa-caret-left" id="prev"></i>
      <i class="fa fa-play" id="play"></i>
      <i class="fa fa-caret-right" id="next"></i>
      <!-- <i class="fa fa-random"></i> -->
    </div>
    <audio src="" id="audio"></audio>
    <div class="wrapper-2">
      <div class="progress-container" id="track-wrapper">
        <div class="progress" id="player-progress"></div>
      </div>
    </div>
  </div>
  <div class="volume-wrapper flx">
    <i class="fa fa-volume-up" id="volume-icon"></i>
    <div class="volume-bar-wrapper" id="volume-bar">
      <div class="progress" id="volume"></div>
    </div>
  </div>
</div>
<%- include('imports/footer-nav'); -%>
<script src="/js/musicplayer.js"></script>
<script src="/js/index.js"></script>
<%- include('imports/footer'); -%>
